# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pt
*.png
*.csv
*.xlsx

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/*.zip
data/
huizhuanyao_data.zip
outputs_hgnn_tt/
outputs_baselines/
*.npz
*.pt
